PORT=3001
NODE_ENV=production
DATABASE_URL=postgresql://postgres:senha@nome-do-servico-postgres:5432/frostyhub_db
FRONTEND_URL=https://seu-frontend.easypanel.host
JWT_SECRET=uma_chave_secreta_forte_e_unica
