@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "reset.css";
@import "variables.css";
@import "components.css";
@import "login.css";
@import "dashboard.css";

body {
  font-family: var(--font-family);
  color: var(--color-text);
  background: var(--color-bg);
}
